<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2N8X3IQ44UgcFLkA3rxQsW1jniJRWg-M</string>
	<key>GCM_SENDER_ID</key>
	<string>545002735831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Cheering</string>
	<key>PROJECT_ID</key>
	<string>cheering-56d3b</string>
	<key>STORAGE_BUCKET</key>
	<string>cheering-56d3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545002735831:ios:6faa5ee0994eea8e2bc892</string>
</dict>
</plist>